header.header-nav {
  border-bottom: 1px black solid;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

a.header-link {
  font-style: normal;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 5px;
  margin-right: 20px;
}

.intro {
  display: flex;
}